
.album-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-container {
  margin-right: 50px;
}

.info-container {
    
    width: 60%;
   text-align: left;
}

.button-container {
    float: right;
}